In [3]:
import pandas as pd 
df = pd.read_csv("../../Data/UCI_Credit_Card.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [4]:
""" 
1. What I have: 
- Id, credit_limit, sex, education, marriage, age

- pay_0 - pay_6: payment status of the credit card
- bill_amt_0-6: the bill that they had in credit card statement each month.
- pay_amt: amount payed

"""

' \n1. What I have: \n- Id, credit_limit, sex, education, marriage, age\n\n- pay_0 - pay_6: payment status of the credit card\n- bill_amt_0-6: the bill that they had in credit card statement each month.\n- pay_amt: amount payed\n\n'

In [5]:
df.isnull().sum()
# no missing values

df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [6]:
"""
WE have to check if our 
"""
df[df["default.payment.next.month"] == 1].shape[0] /df.shape[0]

df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [7]:
# Data quality checks
# if something returns a numpy.bool, you dont need to equate to anything
# use if condition: run the block, if false:    if not condition: 

# the validation table will allow us 




def data_check(df):
    """Checks for missing and duplicate values
    """
    
    if df.isnull().sum().sum():
        print("There is missing data in the df")
        # check the % of missing data
        print(f"% of missing values in each column {df.isnull().mean()}")
    else:
        print("No missing values")
    
    if df.duplicated().values.any():
        print("There are duplicate values")
    else:
        print("No duplicate values")
   
validation_rules = {
    'AGE': {'min': 18, 'max': 100, 'reason': 'Legal age for credit card'},
    'LIMIT_BAL': {'min': 0, 'max': 10000000, 'reason': 'Credit limits in NT dollars'},
    'EDUCATION': {'valid_values': [1, 2, 3, 4], 'reason': 'Documented categories'},
    'MARRIAGE': {'valid_values': [1, 2, 3], 'reason': 'Documented categories'},
    'PAY_0': {'min': -2, 'max': 9, 'reason': 'Payment status encoding'},
}     
    
        
def data_validation(df, validation_rules):
    """ - Checks for:
        - correct data types
        - logical range/boundaries of the features, 
    """
    report = []
    for col, criteria in validation_rules.items():
        if col not in df.columns:
            continue  # skip the column if not need to check
        
        # range check 
        if "min" in criteria and "max" in criteria:
            valid_mask = (df[col]>=criteria.get("min")) & (df[col]<=criteria.get("max"))
        
        # range check means continuos feature, so if that runs, that the categorical one is not applicable.
        elif "valid_values" in criteria:
            valid_mask = df[col].isin(criteria["valid_values"])
        else:
            continue
        # If we have a mask, identify the INVALID rows (where valid_mask is False)
        if valid_mask is not None:
            invalid_mask = ~valid_mask
            invalid_count = invalid_mask.sum()
            
            if invalid_count > 0:
                report.append({
                    'Column': col,
                    'Invalid_Count': invalid_count,
                    'Reason': criteria.get('reason', 'Value out of bounds'),
                    'Sample_Invalids': df.loc[invalid_mask, col].unique()[:5].tolist()
                })
    return report

In [8]:
# df.isnull().sum().sum()

data_check(df)
data_validation(df,validation_rules)

No missing values
No duplicate values

[{'Column': 'EDUCATION',
  'Invalid_Count': np.int64(345),
  'Reason': 'Documented categories',
  'Sample_Invalids': [5, 6, 0]},
 {'Column': 'MARRIAGE',
  'Invalid_Count': np.int64(54),
  'Reason': 'Documented categories',
  'Sample_Invalids': [0]}]

In [9]:
df.dtypes

ID                              int64
LIMIT_BAL                     float64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
default.payment.next.month      int64
dtype: object

In [10]:
# lets fix the missing categories 0, 5, and 6

# Lets fix 0 first 

# what is the amount of ppl with 0 category ?
edu_df = df[df["EDUCATION"] == 0]
edu_df_size = df[df["EDUCATION"] == 0].shape[0]  # 14 ppl

print(f"Category Education_0 size = {edu_df_size:.2f}")
print(f"Of the whole sample: {((edu_df_size/df.shape[0])*100):.2f}%")

# Now lets look at its distribution.
def_in_edu = edu_df[edu_df["default.payment.next.month"] == 1].shape[0]
def_in_edu # no defaut

# Lets see what is the global default rate.

def_rate = df[df["default.payment.next.month"] == 1]
def_rate_size = def_rate.shape[0]/df.shape[0]
print(f"Default rate {def_rate_size}")


# Lets get the default credit limit of each grp.
cred = {}
for grp in (df["EDUCATION"].unique()):
    subset = df[df["EDUCATION"] ==  grp]
    cred_limit_avg = round((float(subset["LIMIT_BAL"].mean())),2)
    cred[int(grp)] = cred_limit_avg
    
sorted_cred = dict(sorted(cred.items(), key=lambda item: item[1], reverse=True))
sorted_cred


# Lets analyse their repayment behaviour.
# make a df of re-payment, and then we will count % of repayment less than 1 (-2,-1, 0) among each education group.

df.info()


pay_cols = ["PAY_0", "PAY_2","PAY_3","PAY_4","PAY_5","PAY_6"]
target_cols = ["EDUCATION"]

#transfomation
df_long = df.melt(id_vars=target_cols, value_vars = pay_cols)
df_long["real"] = df_long["value"]<1

result = df_long.groupby(target_cols)["real"].mean()*100
result

Category Education_0 size = 14.00
Of the whole sample: 0.05%
Default rate 0.2212
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

EDUCATION
0    94.047619
1    88.902535
2    84.566405
3    83.468917
4    96.883469
5    95.773810
6    96.732026
Name: real, dtype: float64

In [11]:
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [12]:
# edu category 5 is almost same as 4, so mix it 
df["EDUCATION"] = df["EDUCATION"].replace(5,4)

df["EDUCATION"].value_counts()

EDUCATION
2    14030
1    10585
3     4917
4      403
6       51
0       14
Name: count, dtype: int64

In [13]:
# rename the categories:
education_labels = {
    0: "Wealthy_dropouts",
    1: "Graduate_school",
    2: "University",
    3: "High_school",
    4: "Other_education",
    6: "Lower_eduction"
    }

df['EDUCATION'] = df['EDUCATION'].map(education_labels)
df["EDUCATION"].value_counts()

EDUCATION
University          14030
Graduate_school     10585
High_school          4917
Other_education       403
Lower_eduction         51
Wealthy_dropouts       14
Name: count, dtype: int64

In [14]:
# NOW LETS FIX THE MARRIAGE ONE.

marriage = df["MARRIAGE"].value_counts().sort_index()

# 1 = married, 2 = single, 3 and 4 unknown.
# get the % of each distribution

print(marriage)
marriage_dict = {}
for k, v in marriage.items():
    percent = round((v/len(df))*100, 2)
    marriage_dict[k] = percent
    
marriage_dict

MARRIAGE
0       54
1    13659
2    15964
3      323
Name: count, dtype: int64

{0: 0.18, 1: 45.53, 2: 53.21, 3: 1.08}

In [ ]:
def investigate_marriage(df):
   for code in [0, 3]:
       subset = df[df["MARRIAGE"] == code]
       
       # early exit
       if len(subset) == 0:
           print(f"No data for Marriage code = {code}")
           continue
       
       print(f"Marriage label {code}, size {len(subset)}")
       print("-----"*15)
       
       print("Get the demographics")
       print(f"Age: avg{subset["AGE"].mean():.1f}, Median {subset[]}")

In [20]:

print(investigate_marriage(df))

investigate_marriage()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  object
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(11), object(1)
memory usage: 5.7+ MB
None

TypeError: investigate_marriage() missing 1 required positional argument: 'df'